body {
    background: #dff5ff;
}

a {
    color: #568EA6;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #305F72;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.effet-zoom {
    transition: all .5s ease-in-out;
}

.effet-zoom:hover {
    padding: 25px 0;
    transition: all .5s ease-in-out;
}

/* Card */

.card-box {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #777777;
}

.progress-bar {
    transition: all 0.5s ease-in-out;
}

.progress-bar:hover {
    background-color: #305F72;
    transition: all 0.5s ease-in-out;
}

/* Social */

.twitter  {
    color: #1DA1F2;
 }

.github {
    color: #211F1F;
}
 
.linkedin {
    color: #0072b1;
}

/* Tab */

.tab-content-custom > .active {
    display: block;
    background: white;
    padding: 20px;
}

.project-line {
    height: 3px;
    width: 50px;
    background-color: #568EA6;
    margin: 0 auto;
}

a img {
    transition: all .5s ease-out;
}

a img:hover {
    opacity: 0.5;
    transition: all .5s ease-out;
}

/* Colors */

.text-myprimary {
    color: #568EA6;
}

.bg-myprimary {
   background-color: #568EA6;
}